<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maher.nowhere">

    <uses-sdk tools:overrideLibrary="com.packagename.of.libary.with.conflict" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDK4glYe0KTd2qReFq0B8dF5uXTXdvNC4s" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".Register.SignUpActivity" />
        <activity android:name=".mainActivity.MainActivity" />
        <activity android:name=".categoriesDetail.CategoriesDetailActivity" />
        <activity android:name=".SearchActivity.SearchActivity" />
        <activity android:name=".SearchDetailActivity.SearchDetailActivity" />
        <activity android:name=".MapActivity.MapActivity" />
        <activity android:name=".reservationActivity.ReservationActivity" />
        <activity
            android:name=".ContactsActivity.ContactActivity"
            android:exported="true" />
        <activity android:name=".ProfileActivity.ProfileActivity" />
        <activity android:name=".ProfileActivity.FriendsActivity" />
        <activity
            android:name=".MapActivity.DetailMapActivity"
            android:theme="@style/ThemeTransparent" />
        <activity android:name=".ProfileFriendActivity.ProfileFriendActivity" />
        <activity
            android:name=".PhotoActivity.PhotoActivity"
            android:theme="@style/ThemeTransparent" />
        android:theme="@style/ThemeTransparent" />
        <activity android:name=".ProfileFriendActivity.ProfileFriendActivity" />
        <activity android:name=".RestaurantProfileActivity.RestaurantProfileActivity" />
        <activity android:name=".CinemaActivity.CinemaActivity" />
        <activity android:name=".CinemaActivity.FilmDetailActivity" />
        <activity android:name=".SalleDeSportActivity.SalleSportActivity"></activity>
    </application>

</manifest>